<nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/csutton/"><span class="navbar-brand"><span class="navbar-brand-font">Charles Sutton</span></span></a>
	</div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/csutton/publications.html"><span class="navbar-font">Publications</span></a></li>
            <li><a href="/csutton/talks/"><span class="navbar-font">Talks</span></a></li>
            <li><a href="/csutton/software.html"><span class="navbar-font">Software</span></a></li>
            <li><a href="/csutton/advice/"><span class="navbar-font">Advice</span></a></li>
            <li><a href="/csutton/news/"><span class="navbar-font">News</span></a></li>
            <li><a href="http://www.theexclusive.org/"><span class="navbar-font">Blog</span></a></li>
	  </ul>
	  <ul class="nav navbar-nav navbar-right navbar-social">
		<li><a href="https://github.com/casutton/"><i class="fa fa-github fa-navbar" aria-hidden="true"></i></a></li>
		<li><a href="https://twitter.com/RandomlyWalking"><i class="fa fa-twitter fa-navbar" aria-hidden="true"></i></a></li>
		<li><a href="http://scholar.google.co.uk/citations?user=hYtGXD0AAAAJ&hl=en"><i class="fa fa-google" aria-hidden="true"></i></a></li>
		<li><a href="/csutton/#contact"><i class="fa fa-envelope-open fa-navbar" aria-hidden="true"></i></a></li>
          </ul>
	</div><!--/.nav-collapse -->
      </div>
</nav>
