<ul class="biblist">
        
	
        
	<li class="bibitem">





<p>



<a href="http://openreview.net/forum?id=B1vRTeqxg"><b>Learning Continuous Semantic Representations of Symbolic Expressions</b></a>.&nbsp;Miltiadis Allamanis, Pankajan Chanthirasegaran, Pushmeet Kohli and Charles Sutton.
	In <i>Open Review submission</i>.  2016.





</p>




<p>
   [ 
   
     <a href="http://openreview.net/forum?id=B1vRTeqxg">.pdf</a>
  
  
     | <a href="javascript:toggle('biballamanis16', 'bib_link_allamanis16', 'bib')"  id="bib_link_allamanis16">bib</a>
     
   
     
     
   ]   
</p>



<div id="divallamanis16"></div>
<div style="display:none;" id="absallamanis16"><div class="abstract"></div></div>

<div style="display:none;" id="biballamanis16"><pre class="bibtex">@inproceedings{allamanis16,
  author = {Allamanis, Miltiadis and Chanthirasegaran, Pankajan and Kohli, Pushmeet and Sutton, Charles},
  booktitle = {Open Review submission},
  title = {Learning Continuous Semantic Representations of Symbolic Expressions},
  year = {2016}
}
</pre></div>



</li>
        
	
        
	<li class="bibitem">





<p>



<a href="http://arxiv.org/abs/1602.03001"><b>A Convolutional Attention Network for Extreme Summarization of Source Code</b></a>.&nbsp;Miltiadis Allamanis, Hao Peng and Charles Sutton.
	In <i>International Conference in Machine Learning (ICML)</i>.  2016.





</p>




<p>
   [ 
   
     <a href="http://arxiv.org/abs/1602.03001">.pdf</a>
  
  
     | <a href="javascript:toggle('biballamanis16convattn', 'bib_link_allamanis16convattn', 'bib')"  id="bib_link_allamanis16convattn">bib</a>
     
   
     
        | <a href="http://arxiv.org/abs/1602.03001">arXiv</a>
     
     
   ]   
</p>



<div id="divallamanis16convattn"></div>
<div style="display:none;" id="absallamanis16convattn"><div class="abstract"></div></div>

<div style="display:none;" id="biballamanis16convattn"><pre class="bibtex">@inproceedings{allamanis16convattn,
  author = {Allamanis, Miltiadis and Peng, Hao and Sutton, Charles},
  booktitle = {International Conference in Machine Learning (ICML)},
  journal = {ArXiv e-prints},
  title = {A Convolutional Attention Network for Extreme Summarization of Source Code},
  year = {2016}
}
</pre></div>



</li>
        
	
        
	<li class="bibitem">





<p>



<a href="http://arxiv.org/abs/1602.06886"><b>Clustering with a Reject Option: Interactive Clustering as Bayesian Prior Elicitation</b></a>.&nbsp;Akash Srivastava, James Zou, Ryan P. Adams and Charles Sutton.
	In <i>Workshop on Human Interpretability in Machine Learning Workshop on Human Interpretability in Machine Learning (co-located with ICML)</i>.  2016.





</p>




<p>
   [ 
   
     <a href="http://arxiv.org/abs/1602.06886">.pdf</a>
  
  
     | <a href="javascript:toggle('bibarxiv:tinder2016', 'bib_link_arxiv:tinder2016', 'bib')"  id="bib_link_arxiv:tinder2016">bib</a>
     
   
     
        | <a href="http://arxiv.org/abs/1602.06886">arXiv</a>
     
     
   ]   
</p>



<div id="divarxiv:tinder2016"></div>
<div style="display:none;" id="absarxiv:tinder2016"><div class="abstract"></div></div>

<div style="display:none;" id="bibarxiv:tinder2016"><pre class="bibtex">@inproceedings{arxiv:tinder2016,
  author = {Srivastava, Akash and Zou, James and Adams, Ryan P. and Sutton, Charles},
  booktitle = {Workshop on Human Interpretability in Machine Learning Workshop on Human Interpretability in Machine Learning (co-located with ICML)},
  journal = {ArXiv e-prints},
  title = {Clustering with a Reject Option: Interactive Clustering as Bayesian Prior Elicitation},
  year = {2016}
}
</pre></div>



</li>
        
	
        
	<li class="bibitem">





<p>



<a href="publications/kdd2016-subsequence-interleaving.pdf"><b>A Subsequence Interleaving Model for Sequential Pattern Mining</b></a>.&nbsp;Jaroslav Fowkes and Charles Sutton.
	In <i>ACM SIGKDD International Conference on Knowledge Discovery and Data Mining</i>.  2016.





</p>




<p>
   [ 
   
     <a href="publications/kdd2016-subsequence-interleaving.pdf">.pdf</a>
  
  
     | <a href="javascript:toggle('bibfowkes16sequence', 'bib_link_fowkes16sequence', 'bib')"  id="bib_link_fowkes16sequence">bib</a>
     
   
     
     
   ]   
</p>



<div id="divfowkes16sequence"></div>
<div style="display:none;" id="absfowkes16sequence"><div class="abstract"></div></div>

<div style="display:none;" id="bibfowkes16sequence"><pre class="bibtex">@inproceedings{fowkes16sequence,
  author = {Fowkes, Jaroslav and Sutton, Charles},
  booktitle = {ACM SIGKDD International Conference on Knowledge Discovery and Data Mining},
  title = {A Subsequence Interleaving Model for Sequential Pattern Mining},
  year = {2016}
}
</pre></div>



</li>
        
	
        
	<li class="bibitem">





<p>



<a href="publications/fse2016.pdf"><b>Parameter-Free Probabilistic API Mining across GitHub</b></a>.&nbsp;Jaroslav Fowkes and Charles Sutton.
	In <i>Foundations of Software Engineering (FSE)</i>.  2016.





</p>




<p>
   [ 
   
     <a href="publications/fse2016.pdf">.pdf</a>
  
  
     | <a href="javascript:toggle('bibfowkes16api', 'bib_link_fowkes16api', 'bib')"  id="bib_link_fowkes16api">bib</a>
     
   
     
     
   ]   
</p>



<div id="divfowkes16api"></div>
<div style="display:none;" id="absfowkes16api"><div class="abstract"></div></div>

<div style="display:none;" id="bibfowkes16api"><pre class="bibtex">@inproceedings{fowkes16api,
  author = {Fowkes, Jaroslav and Sutton, Charles},
  booktitle = {Foundations of Software Engineering (FSE)},
  title = {Parameter-Free Probabilistic API Mining across GitHub},
  year = {2016}
}
</pre></div>



</li>
        
	
        
	<li class="bibitem">





<p>



<a href="http://openreview.net/forum?id=B1vRTeqxg"><b>Neural Variational Inference For Topic Models</b></a>.&nbsp;Akash Srivastava and Charles Sutton.
	In <i>Open Review submission</i>.  2016.





</p>




<p>
   [ 
   
     <a href="http://openreview.net/forum?id=B1vRTeqxg">.pdf</a>
  
  
     | <a href="javascript:toggle('bibsrivastava16nvi', 'bib_link_srivastava16nvi', 'bib')"  id="bib_link_srivastava16nvi">bib</a>
     
   
     
     
   ]   
</p>



<div id="divsrivastava16nvi"></div>
<div style="display:none;" id="abssrivastava16nvi"><div class="abstract"></div></div>

<div style="display:none;" id="bibsrivastava16nvi"><pre class="bibtex">@inproceedings{srivastava16nvi,
  author = {Srivastava, Akash and Sutton, Charles},
  booktitle = {Open Review submission},
  title = {Neural Variational Inference For Topic Models},
  year = {2016}
}
</pre></div>



</li>
        
	
        
	<li class="bibitem">





<p>



<a href="publications/crftut-fnt.pdf"><b>An Introduction to Conditional Random Fields</b></a>.&nbsp;Charles Sutton and Andrew McCallum.
   <i>Foundations and Trends in Machine Learning</i> 4 (4).
  
  2012.





</p>




<p>
   [ 
   
     <a href="publications/crftut-fnt.pdf">.pdf</a>
  
  
     | <a href="javascript:toggle('bibcrftut:fnt', 'bib_link_crftut:fnt', 'bib')"  id="bib_link_crftut:fnt">bib</a>
     
       | <a href="javascript:toggle('abscrftut:fnt', 'abs_link_crftut:fnt', 'abstract')" id="abs_link_crftut:fnt">abstract</a>
     
   
     
        | <a href="">arXiv</a>
     
     
   ]   
</p>



<div id="divcrftut:fnt"></div>
<div style="display:none;" id="abscrftut:fnt"><div class="abstract">Often we wish to predict a large number of variables that depend on each other as well as on other observed variables. Structured prediction methods are essentially a combination of classification and graphical modeling, combining the ability of graphical models to compactly model multivariate data with the ability of classification methods to perform prediction using large sets of input features. This tutorial describes conditional random fields, a popular probabilistic method for structured prediction. CRFs have seen wide application in natural language processing, computer vision, and bioinformatics. We describe methods for inference and parameter estimation for CRFs, including practical issues for implementing large scale CRFs. We do not assume previous knowledge of graphical modeling, so this tutorial is intended to be useful to practitioners in a wide variety of fields.</div></div>

<div style="display:none;" id="bibcrftut:fnt"><pre class="bibtex">@article{crftut:fnt,
  author = {Sutton, Charles and McCallum, Andrew},
  journal = {Foundations and Trends in Machine Learning},
  number = {4},
  pages = {267–373},
  title = {An Introduction to Conditional Random Fields},
  volume = {4},
  year = {2012}
}
</pre></div>



</li>
        
	
</ul>
